@import "tailwindcss";

:root {
  --background: #ffffff;
  --portfolio-bg: #e9ecf1;

}

@theme inline {
  
  --font-main: var(--font-poppins);
  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}